.card {
  padding: 10px;
  overflow: hidden;
  height: 100%;
  width: 320px;
}

.aqua {
  background-color: aqua;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.meta {
  height: 20vh;
  overflow: hidden;
}

.card img {
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
}

.metaDetail {
  height: auto;
  width: auto;
}

.cardDetail {
  border: solid 5px #1677ff;
  width: 100%;
  min-height: 100% !important;
}

.cardDetail img {
  height: 50vh;
}
