.card {
  padding: 10px;
  overflow: hidden;
  height: 100%;
  width: 320px;
}

.othTheme {
  background-color: aqua;
}

.meta {
  height: 20vh;
  overflow: hidden;
}

.card img {
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
}

.metaDetail {
  height: auto;
  width: auto;
}

.cardDetail {
  width: 50%;
  min-height: 100% !important;
}

.cardDetail img {
  height: 50vh;
}
