.card {
  padding: 10px;
  height: 100%;
  width: 320px;
}

.aqua {
  background-color: aqua;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.meta {
  height: 18vh;
}

.card img {
  width: 50vw;
  height: 30vh;
  margin: 0 auto;
}

.metaDetail {
  height: 18vh;
}

.cardDetail {
  border: solid 5px #1677ff;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 100% !important;
}

.cardDetail img {
  height: 50vh;
}
