.list {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: transparent;
  padding-bottom: 1rem;
}

.btns-block {
  margin: 0px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  padding-bottom: 0px;
  height: 32px;
}

.text-block {
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  padding-bottom: 0px;
  height: 32px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

.btn-add {
  background: #1677ff;
  height: 32px;
}

.btns-block h2 {
  position: relative;
  left: 30px;
  bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

