.content {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url("https://baldezh.top/uploads/posts/2021-03/thumbs/1617081514_49-p-oboi-priroda-doroga-58.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}

.layout {
  border-radius: 8;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}
