.content {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url("//avatars.mds.yandex.net/i?id=0ba953f25ae09f3199a244f3ccc1eced_l-10898378-images-thumbs&n=13");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}

.layout {
  border-radius: 8;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}
