.header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #1677ff;
    background-color: rgb(177, 194, 157);
    text-align: center;
}