._ {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: transparent;
  padding-bottom: 1rem;
}

.btns_block {
  margin: 0px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  padding-bottom: 0px;
}
